<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <bean id="serviceInterceptor" class="com.google.ssmm.interceptor.ControllerAspect"></bean>
    <aop:config>
      <aop:aspect id="b" ref="serviceInterceptor">
        <aop:pointcut id="tx"
          expression="execution(* com.ecotech.businessoperationconsole.controller.*.*(..))" />
        <aop:around pointcut-ref="tx" method="invoke" />
      </aop:aspect>
    </aop:config>

    <bean id="SpringContextHolder"
      class="com.ecotech.businessoperationconsole.util.SpringContextHolder"
      lazy-init="false" />
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
      <tx:attributes>
        <!--其他方法使用默认事务策略 -->
        <tx:method name="*" />
      </tx:attributes>
    </tx:advice>
    <!-- AOP配置 -->
    <aop:config>
      <!-- pointcut元素定义一个切入点，execution中的第一个星号 用以匹配方法的返回类型，这里星号表明匹配所有返回类型。com.abc.dao.*.*(..)表明匹配com.abc.dao包下的所有类的所有方法 -->
      <aop:pointcut
        expression="execution(public * com.ecotech.businessoperationconsole.dao.impl.*.*(..))"
        id="daoPoint" />
      <aop:pointcut
        expression="execution(public * com.ecotech.businessoperationconsole.logic.*.*(..))"
        id="logicPoint" />
      <!--将定义好的事务处理策略应用到上述的切入点 -->
      <aop:advisor advice-ref="txAdvice" pointcut-ref="daoPoint" />
      <aop:advisor advice-ref="txAdvice" pointcut-ref="logicPoint" />
    </aop:config>

</beans>
