<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!-- mybatis-generator插件生成代码的配置文件 -->
<generatorConfiguration>

    <context id="myBatis3" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/finance"
                        userId="xuhan1" password="88888888"/>

        <!-- java类型处理器，默认的就这么一个处理器可以用，可以自己写，具体的请参考官方文档http://code.google.com/p/mybatis/wiki/Generator -->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- 生成 Model，POJO -->
        <javaModelGenerator targetPackage="com.google.ssmm.entity"
                            targetProject="${model.target.dir}">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- 生成映射文件*.xml -->
        <sqlMapGenerator targetPackage="com.google.ssmm.mappers"
                         targetProject="${mappers.target.dir}">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- 生成映射器类 -->
        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.google.ssmm.dao"
                             targetProject="${client.target.dir}">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!-- 指定要生成的表名和对应形成的POJO类名 -->
        <!-- <table schema="" tableName="DESTINATION_PLACE" domainObjectName="Place" >
            <columnOverride column="SHORT_DESCRIPTION" jdbcType="VARCHAR"/>
            <columnOverride column="FACILITY_TEXT" jdbcType="VARCHAR"/>
            <columnOverride column="DINING_SERVICE_TEXT" jdbcType="VARCHAR"/>
            <columnOverride column="MISC_REMINDER_TEXT" jdbcType="VARCHAR"/>
            <ignoreColumn column="HIGH_QUALITY_PLACE"/>
        </table> -->
        <!-- <table schema="" tableName="PLACE_TYPE_TAG" domainObjectName="PlaceTypeTag">
        </table> <table schema="" tableName="PLACE_FACILITY_TAG" domainObjectName="PlaceFacilityTag">
        </table> <table schema="" tableName="RENTAL_SPACE" domainObjectName="Space">
        </table> <table schema="" tableName="PLACE_IMAGE" domainObjectName="PlaceImage">
        </table> <table schema="" tableName="TAG_PLACE_SORT" domainObjectName="TagPlaceSort">
        </table> <table schema="" tableName="AUDIT_INFO" domainObjectName="AuditInfo">
        </table> <table schema="" tableName="PLACE_SERVICE_DETAIL" domainObjectName="PlaceServiceDetail">
        </table> <table schema="" tableName="PLACE_EVENT" domainObjectName="PlaceEvent">
        </table> <table schema="" tableName="PLACE_EVENT_IMAGE" domainObjectName="PlaceEventImage">
        </table> <table schema="" tableName="INCOMING_CALL_HISTORY" domainObjectName="IncomingCallHistory">
        </table> <table schema="" tableName="ENDCALL_NOTIFY_HISTORY" domainObjectName="EndcallNotifyHistory">
        </table> <table schema="" tableName="PLACE_SERVICE_IMAGE" domainObjectName="PlaceServiceImage">
        </table> <table schema="" tableName="AUDIT_INFO" domainObjectName="AuditInfo">
        <table schema="" tableName="RATE_PLAN" domainObjectName="RatePlan"> </table> -->
        <!--<table schema="" tableName="RENTAL_SPACE" domainObjectName="Space"> -->
        <!--<table schema="" tableName="EXTERNAL_UPDATE_AUDIT" domainObjectName="ExternalUpdateAudit"> -->
        <!-- <table schema="" tableName="PLACE_QUALIFICATION" domainObjectName="PlaceQualification"></table> -->
        <!--<table schema="" tableName="PLACE_QUALIFICATION_IMAGE" domainObjectName="PlaceQualificationImage"></table> -->

        <!-- <table schema="" tableName="RENTAL_SPACE" domainObjectName="Space"> -->

        <!-- <table schema="" tableName="EXTERNAL_UPDATE_AUDIT" domainObjectName="ExternalUpdateAudit">
          </table> -->
        <!-- <table schema="" tableName="RATE_PLAN" domainObjectName="RatePlan"> -->
        <!-- <ignoreColumn column="AUDIT_CREATE_DATETIME_UTC"/> -->
        <!-- <ignoreColumn column="AUDIT_UPDATE_DATETIME_UTC"/> -->
        <!-- </table> -->
        <!--     <table schema="" tableName="PLACE_ONELINE_PAY_CONTRACT" domainObjectName="PlaceOnlinePayContract"></table> -->
        <!--<table schema="" tableName="PLACE_QUALIFICATION" domainObjectName="PlaceQualification"></table>-->
        <!--<table schema="" tableName="SERVICE_CONTRACT" domainObjectName="ServiceContract"></table>-->
        <table schema="" tableName="FINANCE_POINT" domainObjectName="FinancePoint"></table>
    </context>
</generatorConfiguration>
